{
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "plugins": [
  ],
  "extends": [
    "eslint:recommended",
  ],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn"
  },
  "globals": {
    "describe": true,
    "it": true,
    "document": true
  }
}